@model IEnumerable<MISAssist.Models.異動記錄>

@{
    ViewBag.Title = "碳粉匣";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.碳粉匣)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.單價)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.廠商)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.入出)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.日期)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.印表機.使用單位)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.碳粉匣)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.單價)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.數量)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.廠商)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.入出)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.日期)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.印表機.使用單位)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
